<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <title>Register</title>                             
    <style>
        .note
{
    text-align: center;
    height: 80px;
    background-image: linear-gradient(120deg, #6fcefa, #031e2c);
    background-repeat:no-repeat;
    color:  #031e2c;
    /* font-weight: bold; */
    font-family: 'Luckiest Guy', cursive;
    font-size: 46px;
    line-height: 80px;


}
body {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    background-image: linear-gradient(120deg, #6fcefa, #031e2c);
    background-repeat: no-repeat;
  }
.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background:#031e2c;
    color: #fff;
}
/* Dropdown Button */
.dropbtn{
    background-color: white;
    color: #BA4B49;
    font-size: 16px;
    padding: 0px;
    border: none;
    cursor: pointer;
    height: 30px;
    font-weight: bolder;
}
/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: white;
}
.dropbtn:hover {
    background-color: #BA4B49;
    color: #ffffff;
}
/* Dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
/* Dropdown Content Hidden */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd
}
/* Show the dropdown menu*/
.show {
    display: block;
}
    </style>
  </head>
  <body>
<div class="container register-form">
                <form action="/adminregister" method="POST">
            <div class="form">
                <div class="note">
                    <p>Registration Form</p>
                </div>
                <div class="form-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input name="name" type="text" class="form-control" placeholder="Your Name *" value=""/>
                            </div>
                            <div class="form-group">
                                <input name="phone" type="text" class="form-control" placeholder="Phone Number *" value=""/>
                            </div>
                            <div class="form-group">
                                <input name="email" type="text" class="form-control" placeholder="Email-Id *" value=""/>
                            </div>
                            <div class="form-group">
                                <input name="password" type="password" class="form-control" placeholder="Your Password *" value=""/>
                            </div>
                            <div class="form-group">
                                <input name="confirmpassword" type="password" class="form-control" placeholder="Confirm Password *" value=""/>
                            </div>
                            <div class=" form-group">
                                
                        </div>
                        <div class="form-group">
                            <select  name="branch" id="" >
                                <option value="default">Select Your Branch</option>
                                <option value="Meta">Metallurgy</option>
                                <option value="Chem">Chemical</option>
                                <option value="ECE">Electronics</option>
                                <option value="CSE">Computer Science</option>
                            </select>
                        </div>
                            <div class=" form-group">
            <div class-"maxl">
         <label class="radio inline">
              <input type="radio" name="gender" value="male" checked>
              <span> Male </span>
         </label>
         <label class="radio inline">
              <input type="radio" name="gender" value="female">
              <span> Female </span>
         </label>
                        </div>
                        </div>
                    <button type="submit" class="btnSubmit" value="Admin">Submit</button>
                    </div>
            </div>
                </form>
        </div>
         </body>
         <script>
             function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

         </script>
</html>