<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="53234652156-fi59cr6a1mb3hpvbl1okhu2igre77vui.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <title>PlanIt</title>
                   <style>
      body{
        background-image: linear-gradient(120deg, #6fcefa, #031e2c);
    background-repeat: no-repeat;
    font-family: 'Pacifico', cursive;
   
      }
  .card {
    background: white;
    color: black;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 38em;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,1);
}

/* Add some padding inside the card container */
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  border-radius: 27px;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 21px;
  height: 20em;
}
p{
    margin: 2%;
}
h2{
    margin: 2%;
}
.description{
   display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 8px;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}
#descriptiontext{
  font-size: 20px;
  font-weight: 400;
}
p{
    font-weight: 600;
    font-size: 200%
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 6em;
    margin-top: 5%;
}
.aboutpara{
  display: flex;
    font-size: 3.5em;
    font-weight: bolder;
    margin-left: 6em;
    margin-right: 6em;
    margin-top: 2em;
    font-family: 'Satisfy', cursive;
}
body{
  background-color: #ffffff;
}
a{
  text-decoration: none;
  color: black;
}
 @media screen and (min-width: 870px) {
  body {
    display: flex;
    flex-wrap: wrap;    
     }
}
b{
  font-size: 270%;
}
          </style>
</head>
<body>
    {{>navbardashboard}}
    <div class="mainpage">
    <div class="description">
        <div class="card"><a href="/todolist"><img  src="https://imgs.search.brave.com/WU7tCt7wXS5o4anBJSxHo7q-odwmKwha4Kqtv8WjUGE/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9pbWFn/ZXMyLm1pbnV0ZW1l/ZGlhY2RuLmNvbS9p/bWFnZS91cGxvYWQv/Y19jcm9wLGhfMjE2/NCx3XzM4NDUseF8w/LHlfMjU5L3YxNTU0/OTE4NDA1L3NoYXBl/L21lbnRhbGZsb3Nz/Lzk0NzM1LWlzdG9j/ay04NjM2MDc5MzYu/anBnP2l0b2s9MVFn/dXV6MjE" alt="Avatar" style="width:100%">
  <div class="container">
    <h2><b>To-do List</b></h2>
    <p>List down your goals</p>
  </div>
        </a>
  
</div>
        <div class="card" ><a  href="/calendar"><img  class="calendar" src="https://imgs.search.brave.com/fflD2g_wVvkW9A2fozwhQsxlWLTLtvvbyii5XI4tXqw/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9vbnBs/YW5uZXJzLmNvbS9z/aXRlcy9kZWZhdWx0/L2ZpbGVzL3N0eWxl/cy90ZW1wbGF0ZV9m/YW5jeS9wdWJsaWMv/dGVtcGxhdGUtaW1h/Z2VzL3ByaW50YWJs/ZS1ob3Jpem9udGFs/LW1vbnRobHktY2Fs/ZW5kYXItdGVtcGxh/dGVfMS5wbmc" alt="Calendar" style="width:100%">
  <div class="container" >
    <h2><b>Calendar</b></h2>
    <p>Scheduling at your fingertips</p>
  </div>
        </a>
  
</div>
        <div class="card" onclick="random()">
  <img  src="https://imgs.search.brave.com/0OXf72gtYlR4ex38WScBtqytkSlcocRRw2eA7Kn1YyU/rs:fit:800:500:1/g:ce/aHR0cHM6Ly93d3cu/a3NkcjEubmV0L3dw/LWNvbnRlbnQvdXBs/b2Fkcy8yMDE4LzA4/L05vdGljZS04MDB4/NTAwX2MtODAweDUw/MC5qcGc" alt="Avatar" style="width:100%">
  <div class="container">
    <h2><b>Notices</b></h2>
    <p>Get all the updates at the earliest</p>
  </div>

</div>
<div class="card"><a href="suggestion"><img  class="calendar" src="https://imgs.search.brave.com/fflD2g_wVvkW9A2fozwhQsxlWLTLtvvbyii5XI4tXqw/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9vbnBs/YW5uZXJzLmNvbS9z/aXRlcy9kZWZhdWx0/L2ZpbGVzL3N0eWxl/cy90ZW1wbGF0ZV9m/YW5jeS9wdWJsaWMv/dGVtcGxhdGUtaW1h/Z2VzL3ByaW50YWJs/ZS1ob3Jpem9udGFs/LW1vbnRobHktY2Fs/ZW5kYXItdGVtcGxh/dGVfMS5wbmc" alt="Calendar" style="width:100%">
  <div class="container">
    <h2><b>Suggestions</b></h2>
    <p>Your suggestions are cordially invited </p>
  </div>
       </a>
</div>
    </div>
    <div id="aboutus">
        <h1>ABOUT US</h1>
        <p class="aboutpara">
            We needed something to keep us organised while balancing our IIT classes and maintaining a social life. As a result, we devised the plan to create this website as a college project. We've realised that the website has the potential to be so beneficial that it can serve as the foundation for something that will enable all students to achieve their full potential. We came up with this concept for making PlanIt the number one, go-to website for all students. The rest, as they say, is history. Now, fast forward to today, and we're working hard to build a platform that will help students succeed.
        </p>
    </div>
    <div class="loginpage">
        <div id="googleid"></div>
    </div>
    {{>footer}}
</body>
    <script src="../../src/app.js"></script>
<script>
        function random(){
          alert("Coming Soon!!");
        }
</script>
</html>