<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="53234652156-fi59cr6a1mb3hpvbl1okhu2igre77vui.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <title>Student Support</title>
                   
</head>
<body>
    {{>navbardashboard}}
    <div class="mainpage">
        <!--website name-->
        <div class="website">
        </div>
    </div><br><br><br>
    <div class="loginpage">
        <div id="googleid"></div>
    </div>
    <script src="../../src/app.js"></script>
</body>
</html>