<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Member Section</title>
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Updock&display=swap" rel="stylesheet">
    <style>
        *{
     margin: 0;
     padding: 0;
}
body{
     background: #efefef;
     font-family: 'Poppins', sans-serif;
      background-image: linear-gradient(120deg, #6fcefa, #031e2c);
    background-repeat: no-repeat;
}
h1{
    font-weight: 800;
    font-size: 4em;
    font-family: 'Updock', cursive;
}
.title-box{
     text-align: center;
     margin: 90px auto 50px;
}
.title-box p{
   margin-top: 10px;
    line-height: 24px;
}
.profile-box{
   width: 275px;
    height: 275px;
    background: #fff;
    border-radius: 8px;
    margin-bottom: 30px;
    box-shadow: 0 10px 10px 5px rgba(115,193,255, 0.4);
    padding: 17px;
    position: relative;
    transition: background 0.5s;
    margin-right: 2rem;
    margin-right: 2rem;
}
.profile-box img{
   width: 100px;
   height: 100px;
   position: absolute;
    top: 20px;
    right: 20px;
   border-radius: 4px;
}
.profile-box h4{
   margin-top: 25px;
   margin-bottom: 5px;
   color: #2196f3;
}
small{
    color: #555;
}
 .social-box{
    background: #2196f3;
    margin: 60px auto 20px;
    text-align: center;
    border-radius: 3px;
}
.social-box .fa{
   margin: 5px;
    color: #fff;
    cursor: pointer;
}
.profile-box p{
    text-align: center;
    line-height: 24px;
    color: #555;
}
.team-row{
    display: flex;
    width: 85%;
    margin: auto;
    align-content: center;
    justify-content: center;
}
.profile-box img:hover{
    width: 275px;
    height: 275px;
}
.profile-box:hover{
   background: #2196f3;
}
.profile-box:hover h4{
   color: #fff;
}
.profile-box:hover p{
   color: #efefef;
}
.profile-box:hover small{
   color: #efefef;
}
.profile-box:hover .social-box{
   background: #000000;
}
.þrofile-box:hover .social-box .fa{
  color: #2196f3;
}
.logo {
    display: flex;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.logo a {
	position: fixed;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 3rem;
}

.logo a:hover {
    color: #00E676;
}
.logo {
        margin-left: 15px;
    }
    </style>
</head>
<body>
    <div class="logo">
                <a href="/dashboard">PlanIt</a>
            </div>
  
     <div class="title-box">
    <h1>Our Team</h1>
     </div>
     <div class="team-row">
   <div class="profile-box">
        <h4>Shivam Gupta</h4>
        <small>Founder</small>
        <img src="./images/devansh_choudhary.jpeg" alt="">
        <div class="social-box">
         <i class="fa fa-facebook"></i>
         <i class="fa fa-twitter"></i>
         <i class="fa fa-linkedin"></i>
         <i class="fa fa-instagram"></i>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, temporibus.</p>
   </div>
   <div class="profile-box">
        <h4>Devansh Choudhary</h4>
        <small>Founder</small>
        <img src="./images/devansh_choudhary.jpeg" alt="">
        <div class="social-box">
         <i class="fa fa-facebook"></i>
         <i class="fa fa-twitter"></i>
         <i class="fa fa-linkedin"></i>
         <i class="fa fa-instagram"></i>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, temporibus.</p>
   </div>
   <div class="profile-box">
        <h4>Purvi Agrawal</h4>
        <small>Founder</small>
        <img src="./images/devansh_choudhary.jpeg" alt="">
        <div class="social-box">
         <i class="fa fa-facebook"></i>
         <i class="fa fa-twitter"></i>
         <i class="fa fa-linkedin"></i>
         <i class="fa fa-instagram"></i>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, temporibus.</p>
   </div>
</div>
</body>
</html>